{% if tickets is not empty %}
    {% for ticket in tickets %}
        <tr>
            <th scope="row">
                {{ ticket.screening.movie.title }}
            </th>
            <td>
                {{ ticket.screening.startsAt.format('d.m.Y H:i') }}
            </td>
            <td>
                {% for seat in ticket.seats %}
                    <div>
                        [[Seat]] #{{ loop.index }}
                        [[Row]]: {{ seat.seat.row }}
                        [[Place]]: {{ seat.seat.number }}
                    </div>
                {% endfor %}
            </td>
            <td>{{ ticket.createdAt.format('d.m.Y H:i') }}</td>
            {% if ticket.paidAt is not empty %}
                <td>
                    <span class="text-success">[[Paid]]: {{ ticket.paidAt.format('d.m.Y H:i') }}</span>
                </td>
                <td></td>
            {% elseif ticket.canceledAt is empty %}
                <td>
                    <span class="text-info">[[Reserved]]</span>
                </td>
                <td>
                    <button class="btn btn-sm btn-primary" x-on:click="loading = true;$store.buying.buy('{{ ticket.uuid }}')" style="min-width: 90px;" x-data="{loading: false}">
                        [[Buy]]
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" x-show="loading"></span>
                    </button>
                </td>
            {% else %}
                <td>
                    <span class="text-danger">[[Canceled]]: {{ ticket.canceledAt.format('d.m.Y H:i') }}</span>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
{% else %}
    <td colspan="6" class="text-center">
        [[Tickets not found.]]
    </td>
{% endif %}
