<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
    <div class="container">
        <a class="navbar-brand" href="{{ route('index') }}">[[Tickets Booking]]</a>
        <div class="offcanvas offcanvas-end text-white bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ route('index') }}">[[Home]]</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarLgDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            [[Account]]
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarLgDropdown">
                            {% if auth.actor is not empty %}
                                <li><a class="dropdown-item" href="{{ route('screenings') }}">[[Movies]]</a></li>
                                <li><a class="dropdown-item" href="{{ route('personal.tickets') }}">[[My tickets]]</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ route('logout', {'token': auth.token.id}) }}">Logout</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{{ route('login') }}">[[Login]]</a></li>
                                <li><a class="dropdown-item" href="{{ route('register') }}">[[Register]]</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
